@keyframes DotShow {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes stats_45{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 17.6%;
    }
}
@keyframes stats_49{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 19.2%;
    }
}
@keyframes stats_65{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 25.5%;
    }
}
@keyframes stats_60{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 23.5%;
    }
}
@keyframes stats_62{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 24.3%;
    }
}
@keyframes stats_63{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 24.7%;
    }
}
@keyframes stats_80{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 31.4%;
    }
}
@keyframes stats_100{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 39.2%;
    }
}
@keyframes stats_13{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 5.1%;
    }
}
@keyframes stats_143{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 56.1%;
    }
}
@keyframes stats_123{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 48.2%;
    }
}
@keyframes stats_122{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 47.8%;
    }
}
@keyframes stats_120{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 47.1%;
    }
}
@keyframes stats_39{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 15.2%;
    }
}
@keyframes stats_52{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 20.4%;
    }
}
@keyframes stats_43{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 16.9%;
    }
}
@keyframes stats_50{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 19.6%;
    }
}
@keyframes stats_58{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 22.7%;
    }
}
@keyframes stats_64{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 25.1%;
    }
}
@keyframes stats_78{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 30.6%;
    }
}
@keyframes stats_104{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 40.8%;
    }
}
@keyframes stats_159{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 62.4%;
    }
}
@keyframes stats_115{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 45.1%;
    }
}
@keyframes stats_44{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 17.3%;
    }
}
@keyframes stats_48{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 18.8%;
    }
}
@keyframes stats_59{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 23.1%;
    }
}
@keyframes stats_79{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 31%;
    }
}
@keyframes stats_83{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 32.5%;
    }
}
@keyframes stats_83 {
    0% {
        height: 12px;
        width: 0%;
    }
    100% {
        height: 12px;
        width: 32.5%;
    }
}
@keyframes stats_85{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 33.3%;
    }
}
@keyframes stats_105{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 41.2%;
    }
}
@keyframes stats_30{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 11.8%;
    }
}
@keyframes stats_35{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 13.7%;
    }
}
@keyframes stats_20{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 7.8%;
    }
}
@keyframes stats_55{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 21.6%;
    }
}
@keyframes stats_25{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 9.8%;
    }
}
@keyframes stats_90{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 35.3%;
    }
}
@keyframes stats_90{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 35.3%;
    }
}
@keyframes stats_70{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 27.5%;
    }
}
@keyframes stats_40{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 15.7%;
    }
}
@keyframes stats_75{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 29.4%;
    }
}
@keyframes stats_56{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 22%;
    }
}
@keyframes stats_71{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 27.8%;
    }
}
@keyframes stats_101{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 39.6%;
    }
}
@keyframes stats_72{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 28.2%;
    }
}
@keyframes stats_81{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 31.8%;
    }
}
@keyframes stats_97{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 38%;
    }
}
@keyframes stats_31{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 12.2%;
    }
}
@keyframes stats_61{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 23.9%;
    }
}
@keyframes stats_54{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 21.2%;
    }
}
@keyframes stats_95{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 37.3%;
    }
}
@keyframes stats_69{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 27.1%;
    }
}
@keyframes stats_110{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 43.1%;
    }
}
@keyframes stats_47{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 18.4%;
    }
}
@keyframes stats_41{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 16.1%;
    }
}
@keyframes stats_67{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 26.3%;
    }
}
@keyframes stats_92{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 36.1%;
    }
}
@keyframes stats_87{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 34.1%;
    }
}
@keyframes stats_76{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 29.8%;
    }
}
@keyframes stats_46{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 18%;
    }
}
@keyframes stats_57{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 22.4%;
    }
}
@keyframes stats_102{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 40%;
    }
}
@keyframes stats_77{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 30.2%;
    }
}
@keyframes stats_73{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 28.6%;
    }
}
@keyframes stats_38{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 14.9%;
    }
}
@keyframes stats_140{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 54.9%;
    }
}
@keyframes stats_10{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 3.9%;
    }
}
@keyframes stats_82{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 32.2%;
    }
}
@keyframes stats_15{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 5.9%;
    }
}
@keyframes stats_175{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 68.7%;
    }
}
@keyframes stats_150{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 58.8%;
    }
}
@keyframes stats_130{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 51%;
    }
}
@keyframes stats_180{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 71%;
    }
}
@keyframes stats_160{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 62.7%;
    }
}
@keyframes stats_42{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 16.5%;
    }
}
@keyframes stats_125{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 49%;
    }
}
@keyframes stats_53{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 20.8%;
    }
}
@keyframes stats_250{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 98%;
    }
}
@keyframes stats_5{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 2%;
    }
}
@keyframes stats_68{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 26.7%;
    }
}
@keyframes stats_93{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 36.5%;
    }
}
@keyframes stats_84{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 32.9%;
    }
}
@keyframes stats_91{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 35.7%;
    }
}
@keyframes stats_134{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 52.5%;
    }
}
@keyframes stats_106{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 41.6;
    }
}
@keyframes stats_154{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 60.4%;
    }
}
@keyframes stats_109{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 42.7%;
    }
}
@keyframes stats_34{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 13.3%;
    }
}
@keyframes stats_36{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 14.1%;
    }
}
@keyframes stats_86{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 33.7%;
    }
}
@keyframes stats_96{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 37.6%;
    }
}
@keyframes stats_28{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 11%;
    }
}
@keyframes stats_190{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 74.5%;
    }
}
@keyframes stats_33{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 12.9%;
    }
}
@keyframes stats_200{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 78.4%;
    }
}
@keyframes stats_230{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 90.2%;
    }
}
@keyframes stats_37{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 14.5%;
    }
}
@keyframes stats_255{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 100%;
    }
}
@keyframes stats_135{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 52.9%;
    }
}
@keyframes stats_51{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 20%;
    }
}
@keyframes stats_32{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 12.5%;
    }
}
@keyframes stats_1{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 0.4%;
    }
}
@keyframes stats_23{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 9%;
    }
}
@keyframes stats_144{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 56.5%;
    }
}
@keyframes stats_170{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 66.7%;
    }
}
@keyframes stats_66{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 25.9%;
    }
}
@keyframes stats_107{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 42%;
    }
}
@keyframes stats_99{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 38.8%;
    }
}
@keyframes stats_74{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 29%;
    }
}
@keyframes stats_94{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 36.9%;
    }
}
@keyframes stats_114{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 44.7%;
    }
}
@keyframes stats_89{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 34.9%;
    }
}
@keyframes stats_108{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 42.4%;
    }
}
@keyframes stats_88{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 34.5%;
    }
}
@keyframes stats_111{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 43.5%;
    }
}
@keyframes stats_165{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 64.7%;
    }
}
@keyframes stats_118{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 46.3%;
    }
}
@keyframes stats_168{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 65.9%;
    }
}
@keyframes stats_138{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 54.1%;
    }
}
@keyframes stats_29{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 11.4%;
    }
}
@keyframes stats_112{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 43.9%;
    }
}
@keyframes stats_103{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 40.4%;
    }
}
@keyframes stats_24{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 9.4%;
    }
}
@keyframes stats_116{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 45.5%;
    }
}
@keyframes stats_145{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 56.8%;
    }
}
@keyframes stats_113{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 44.3%;
    }
}
@keyframes stats_98{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 38.4%;
    }
}
@keyframes stats_27{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 10.6%;
    }
}
@keyframes stats_117{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 45.9%;
    }
}
@keyframes stats_22{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 8.6%;
    }
}
@keyframes stats_133{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 52.2%;
    }
}
@keyframes stats_131{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 51.4%;
    }
}
@keyframes stats_147{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 57.6%;
    }
}
@keyframes stats_124{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 48.6%;
    }
}
@keyframes stats_129{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 50.6%;
    }
}
@keyframes stats_128{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 50.2%;
    }
}
@keyframes stats_126{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 49.4%;
    }
}
@keyframes stats_121{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 47.5%;
    }
}
@keyframes stats_119{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 46.7%;
    }
}
@keyframes stats_128{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 50.2%;
    }
}
@keyframes stats_126{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 49.4%;
    }
}
@keyframes stats_121{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 47.5%;
    }
}
@keyframes stats_119{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 46.7%;
    }
}
@keyframes stats_184{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 72.2%;
    }
}
@keyframes stats_132{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 51.8%;
    }
}
@keyframes stats_152{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 59.6%;
    }
}
@keyframes stats_142{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 55.7%;
    }
}
@keyframes stats_137{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 53.7%;
    }
}
@keyframes stats_127{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 49.8%;
    }
}
@keyframes stats_139{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 54.5%;
    }
}
@keyframes stats_151{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 59.2%;
    }
}
@keyframes stats_173{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 67.8%;
    }
}
@keyframes stats_181{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 71%;
    }
}
@keyframes stats_223{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 87.5%;
    }
}
@keyframes stats_211{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 82.7%;
    }
}
@keyframes stats_13{
    0% {
        height: 12px;
        width: 0%;
    }
    100% { height: 12px;
        width: 5.1%;
    }
}
@keyframes loadingHide {
    0% {
        visibility: hidden
    }
    99% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}
@keyframes loadingShow {
    0% {
        visibility: visible;
    }
    99% {
        visibility: visible;
    }
    100% {
        visibility: hidden;
    }
}
.stat_45 {
    animation-name: stats_45;
}
.stat_49 {
    animation-name: stats_49;
}
.stat_65 {
    animation-name: stats_65;
}
.stat_60 {
    animation-name: stats_60;
}
.stat_62 {
    animation-name: stats_62;
}
.stat_63 {
    animation-name: stats_63;
}
.stat_80 {
    animation-name: stats_80;
}
.stat_100 {
    animation-name: stats_100;
}
.stat_123 {
    animation-name: stats_123;
}
.stat_122 {
    animation-name: stats_122;
}
.stat_120 {
    animation-name: stats_120;
}
.stat_39 {
    animation-name: stats_39;
}
.stat_52 {
    animation-name: stats_52;
}
.stat_43 {
    animation-name: stats_43;
}
.stat_50 {
    animation-name: stats_50;
}
.stat_58 {
    animation-name: stats_58;
}
.stat_64 {
    animation-name: stats_64;   
}
.stat_78 {
    animation-name: stats_78;
}
.stat_104 {
    animation-name: stats_104;
}
.stat_159 {
    animation-name: stats_159;
}
.stat_115 {
    animation-name: stats_115;
}
.stat_44 {
    animation-name: stats_44;
}
.stat_48 {
    animation-name: stats_48;
}
.stat_59 {
    animation-name: stats_59;
}
.stat_79 {
    animation-name: stats_79;
}
.stat_83 {
    animation-name: stats_83;
}
.stat_85 {
    animation-name: stats_85;
}
.stat_105 {
    animation-name: stats_105;
}
.stat_30 {
    animation-name: stats_30;
}
.stat_35 {
    animation-name: stats_30;
}
.stat_20 {
    animation-name: stats_20;
}
.stat_55 {
    animation-name: stats_55;
}
.stat_25 {
    animation-name: stats_25;
}
.stat_90 {
    animation-name: stats_90;
}
.stat_70 {
    animation-name: stats_70;
}
.stat_40 {
    animation-name: stats_40;
}
.stat_75 {
    animation-name: stats_75;
}
.stat_56 {
    animation-name: stats_56;
}
.stat_71 {
    animation-name: stats_71;
}
.stat_101 {
    animation-name: stats_101;
}
.stat_72 {
    animation-name: stats_72;
}
.stat_81 {
    animation-name: stats_81;
}
.stat_97 {
    animation-name: stats_97;
}
.stat_31 {
    animation-name: stats_31;
}
.stat_61 {
    animation-name: stats_61;
}
.stat_54 {
    animation-name: stats_54;
}
.stat_95 {
    animation-name: stats_95;
}
.stat_69 {
    animation-name: stats_69;
}
.stat_110 {
    animation-name: stats_110;
}
.stat_47 {
    animation-name: stats_47;
}
.stat_41 {
    animation-name: stats_41;
}
.stat_67 {
    animation-name: stats_67;
}
.stat_92 {
    animation-name: stats_92;
}
.stat_87 {
    animation-name: stats_87;
}
.stat_76 {
    animation-name: stats_76;
}
.stat_46 {
    animation-name: stats_46;
}
.stat_57 {
    animation-name: stats_57;
}
.stat_102 {
    animation-name: stats_102;
}
.stat_77 {
    animation-name: stats_77;
}
.stat_73 {
    animation-name: stats_73;
}
.stat_38 {
    animation-name: stats_38;
}
.stat_140 {
    animation-name: stats_140;
}
.stat_10 {
    animation-name: stats_10;
}
.stat_82 {
    animation-name: stats_82
}
.stat_15 {
    animation-name: stats_15;
}
.stat_175 {
    animation-name: stats_175;
}
.stat_150 {
    animation-name: stats_150;
}
.stat_130 {
     animation-name: stats_130;   
}
.stat_180 {
    animation-name: stats_180;
}
.stat_160 {
    animation-name: stats_160;
}
.stat_42 {
    animation-name: stats_42;
}
.stat_125 {
    animation-name: stats_125;
}
.stat_53 {
    animation-name: stats_53;
}
.stat_250 {
    animation-name: stats_250;
}
.stat_5 {
    animation-name: stats_5;
}
.stat_68 {
    animation-name: stats_68;
}
.stat_93 {
    animation-name: stats_93;
}
.stat_84 {
    animation-name: stats_84;
}
.stat_91 {
    animation-name: stats_91;
}
.stat_134 {
    animation-name: stats_134;
}
.stat_106 {
    animation-name: stats_106;
}
.stat_154 {
    animation-name: stats_154;
}
.stat_109 {
    animation-name: stats_109;
}
.stat_34 {
    animation-name: stats_34;
}
.stat_36 {
    animation-name: stats_36;
}
.stat_86 {
    animation-name: stats_86;
}
.stat_96 {
    animation-name: stats_96;
}
.stat_28 {
    animation-name: stats_28;
}
.stat_190 {
    animation-name: stats_190;
}
.stat_33 {
    animation-name: stats_33;
}
.stat_200 {
    animation-name: stats_200;
}
.stat_230 {
    animation-name: stats_230;
}
.stat_37 {
    animation-name: stats_37;
}
.stat_143 {
    animation-name: stats_143;
}
.stat_13 {
    animation-name: stats_13;
}
.stat_255 {
    animation-name: stats_255;
}
.stat_135 {
    animation-name: stats_135;
}
.stat_51 {
    animation-name: stats_51;
}
.stat_32 {
    animation-name: stats_32;
}
.stat_1 {
    animation-name: stats_1;
}
.stat_63 {
    animation-name: stats_63;
}
.stat_144 {
    animation-name: stats_144;
}
.stat_23 {
    animation-name: stats_23;
}
.stat_170 {
    animation-name: stats_170;
}
.stat_66 {
    animation-name: stats_66;
}
.stat_107 {
    animation-name: stats_107;
}
.stat_99 {
    animation-name: stats_99;
}
.stat_74 {
    animation-name: stats_74;
}
.stat_94 {
    animation-name: stats_94;
}
.stat_114 {
    animation-name: stats_114;
}
.stat_89 {
    animation-name: stats_89;
}
.stat_108 {
    animation-name: stats_108;
}
.stat_88 {
    animation-name: stats_88;
}
.stat_111 {
    animation-name: stats_111;
}
.stat_165 {
    animation-name: stats_165;
}
.stat_118 {
    animation-name: stats_118;
}
.stat_168 {
    animation-name: stats_168;
}
.stat_138 {
    animation-name: stats_138;
}
.stat_29 {
    animation-name: stats_29;
}
.stat_112 {
    animation-name: stats_112;
}
.stat_103 {
    animation-name: stats_103;
}
.stat_24 {
    animation-name: stats_24;
}
.stat_116 {
    animation-name: stats_116;
}
.stat_145 {
    animation-name: stats_145;
}
.stat_113 {
    animation-name: stats_113;
}
.stat_98 {
    animation-name: stats_98;
}
.stat_27 {
     animation-name: stats_27;   
}
.stat_117 {
    animation-name: stats_117;
}
.stat_22 {
    animation-name: stats_22;
}
.stat_133 {
    animation-name: stats_133;
}
.stat_131 {
    animation-name: stats_131;
}
.stat_147 {
    animation-name: stats_147;
}
.stat_124 {
    animation-name: stats_124;
}
.stat_129 {
    animation-name: stats_129;
}
.stat_128 {
    animation-name: stats_128;
}
.stat_126 {
    animation-name: stats_126;
}
.stat_121 {
    animation-name: stats_121;
}
.stat_119 {
    animation-name: stats_119;
}
.stat_128 {
    animation-name: stats_128;
}
.stat_126 {
    animation-name: stats_126;
}
.stat_121 {
    animation-name: stats_121;
}
.stat_119 {
    animation-name: stats_119;
}
.stat_184 {
    animation-name: stats_184;
}
.stat_132 {
    animation-name: stats_132;
}
.stat_152 {
    animation-name: stats_152;
}
.stat_142 {
    animation-name: stats_142;
}
.stat_137 {
    animation-name: stats_137;
}
.stat_127 {
    animation-name: stats_127;
}
.stat_139 {
    animation-name: stats_139;
}
.stat_155 {
    animation-name: stats_155;
}
.stat_151 {
    animation-name: stats_151;
}
.stat_173 {
    animation-name: stats_173;
}
.stat_181 {
    animation-name: stats_181;
}
.stat_223 {
    animation-name: stats_223;
}
.stat_211 {
    animation-name: stats_211;
}
.stat_13 {
    animation-name: stats_13;
}





