.bug {
    background-color: $colors_background_bug;
}
.dark {
    background-color: $colors_background_dark;
}
.dragon {
    background-color: $colors_background_dragon;
}
.electric {
    background-color: $colors_background_electric;
}
.fairy {
    background-color: $colors_background_fairy;
}
.fighting {
    background-color: $colors_background_fighting;
}
.fire {
    background-color: $colors_background_fire;
}

.flying {
    background-color: $colors_background_flying;
}
.ghost {
    background-color: $colors_background_ghost;
}
.grass {
    background-color: $colors_background_grass;
}
.ground {
    background-color: $colors_background_ground;
}
.ice {
    background-color: $colors_background_ice;
}
.normal {
    background-color: $colors_background_normal;
}
.poison {
    background-color: $colors_background_poison;
}
.psychic {
    background-color: $colors_background_psychic;
}
.rock {
    background-color: $colors_background_rock;
}
.steel {
    background-color: $colors_background_steel;
}
.water {
    background-color: $colors_background_water;
}
.hp {
    background-color: $colors_background_hp;
}
.attack {
    background-color: $colors_background_attack;
}
.defense { 
    background-color: $colors_background_defense;   
}
.specialAttack {
    background-color: $colors_background_special_attack;
}
.specialDefense {
    background-color: $colors_background_special_defense;
}
.speed {
    background-color: $colors_background_speed;
    border-bottom: none;
}