
/* colors */

$colors_main_background_primary: #222;
$colors_main_background_secondary: #939eaf;


$colors_font_primary: #dedede;


$colors_background_hp: #e82525;
$colors_background_attack: #ffad21;
$colors_background_defense: #e5f71b;
$colors_background_special_attack: #4173f2;
$colors_background_special_defense: #57f733;
$colors_background_speed: #ea59e5;

$colors_background_bug: #1d9b28;
$colors_background_dark: #111;
$colors_background_dragon: #07078c;
$colors_background_electric: #e8e23e;
$colors_background_fairy: #f7a0ed;
$colors_background_fighting: #ad1b01;
$colors_background_fire: #ff1121;
$colors_background_flying: #53c6e2;
$colors_background_ghost: #510e75;
$colors_background_grass: #037c28;
$colors_background_ground: #a56a2e;
$colors_background_ice: #a3edeb;
$colors_background_normal: #b7b7b7;
$colors_background_poison: #8a35c6;
$colors_background_psychic: #e855cd;
$colors_background_rock: #4f402f;
$colors_background_steel: #a09d98;
$colors_background_water: #355aff;
/* fonts */

$fonts_primary: 'Roboto', sans-serif;
$fonts_secondary: 'Open Sans', sans-serif;
    

    

